table,td,th{
    border: 1px solid;
    background-color:cornsilk;
    
}

body{
    
    background-image: url('../img/campo.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}

h1,h2{

    color: white;
    text-align: center;
    padding: 20px;
}

.table-responsive{
    width: 100% !important;
  }
  
  .table {
      border: 1px solid red;
      width: 50% !important; /*Importante manter o !important rs */
      margin: auto;
  }
  
  .table-status {
      margin-top: 20px;
      margin-bottom: 20px !important;
  }
